name: Destroy Strapi ECS Infrastructure

on:
  workflow_dispatch:   # manual trigger

env:
  AWS_REGION: eu-north-1
  TF_DIR: terraform

jobs:
  destroy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: 1.6.6

    - name: Terraform Init
      working-directory: ${{ env.TF_DIR }}
      run: terraform init

    - name: Terraform Destroy
      working-directory: ${{ env.TF_DIR }}
      run: terraform destroy -auto-approve -var="image_uri=dummy"
